@charset "UTF-8";

    body{
        background-color: rgb(184, 238, 167);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    h1{
        color: rgb(77, 61, 107);
    }
    
    h2{
        color: rgb(16, 233, 88);
        background-color: rgb(187, 128, 184);
    }

    p{
        text-align: justify;
    }
    